In [1]:
# Import Splinter and BeautifulSoup

from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager

In [3]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
# Visit the mars nasa news site
url = 'https://redplanetscience.com'

browser.visit(url)

# Optional delay for loading the page

browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [6]:
#set up the html parser

html = browser.html
news_soup = soup(html, 'html.parser')
slide_elem = news_soup.select_one('div.list_text')

In [8]:
slide_elem.find('div', class_='content_title')

In [9]:
# get_text pulls out the text (as opposed to the tags/elements)

news_title = slide_elem.find('div', class_='content_title').get_text()
news_title

"6 Things to Know About NASA's Ingenuity Mars Helicopter"

In [11]:
#There are two methods used to find tags and attributes with BeautifulSoup:

# .find() is used when we want only the first class and attribute we've specified.
# .find_all() is used when we want to retrieve all of the tags and attributes.

news_p = slide_elem.find('div', class_='article_teaser_body').get_text()

news_p

'The first helicopter attempting to fly on another planet is a marvel of engineering. Get up to speed with these key facts about its plans.'

### Featured Images

In [16]:

from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager

In [17]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [18]:
# Visit URL
url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [20]:
#we want it to click a button- find and click the full image button

full_image_elem = browser.find_by_tag('button')[1]

full_image_elem.click()

In [21]:
# Parse the resulting html (the full image page) with soup

html = browser.html

img_soup = soup(html, 'html.parser')

In [24]:
#build the relative image url (can't hard-code the url or it will give the same image every time)

img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')

#get('src') give the partial link to the image (Source)

img_url_rel

'image/featured/mars1.jpg'

In [25]:
#add the base link so we can put them together to create a working link 

img_url = f'https://spaceimages-mars.com/{img_url_rel}'

img_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

In [26]:
#getting mars facts from another site, just scraping the entire html table from it using pandas

import pandas as pd

In [28]:
# read_html() finds all tables on the page, [0] returns the first table it finds 

df = pd.read_html('https://galaxyfacts-mars.com')[0]

df.columns = df.columns=['Description', 'Mars', 'Earth']

df.set_index('Description', inplace=True)

df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [29]:
# convert the pandas df back to html with to_html()

df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [30]:
# end the browsing session

browser.quit()

In [31]:
! pip install numpy

Requirement already satisfied: numpy in c:\users\tgend\anaconda3\envs\pythondata\lib\site-packages (1.21.5)